/* $Id: horizontal.css,v 1.1 2010/02/10 23:43:47 greenskin Exp $ */

ul.sociallinks-tabs {
  list-style-position: inside;
  clear: both;
  padding: 0;
  border-bottom: 1px solid #a9a9a9;
  margin: 0 !important;
  float: left;
  width: 100%;
}

ul.sociallinks-tabs li {
  list-style-image: none;
  list-style-type: none;
  background-image: none;
  margin: 5px 10px 5px 5px;
  padding: 0;
  float: left;
  
}
