/* $Id$ */

#sociallinks .ui-tabs-hide {
  display: none;
}

#sociallinks {
  /*height: 170px;*/
}

.block-sociallinks div.content {
  border-top: 1px solid #a9a9a9;
}

ul.sociallinks-tabs {
  /*width: 110px;*/
  list-style-position: inside;
  float: right;
  clear: both;
  padding: 0;
  height: 140px;
  border-left: 1px solid #a9a9a9;
  margin: 0 !important;
}

ul.sociallinks-tabs.ui-tabs-nav {
  margin: 0;
}

ul.sociallinks-tabs li {
  list-style-image: none;
  list-style-type: none;
  background-image: none;
  margin: 0;
  padding: 0 0 0 2px;
}

ul.sociallinks-tabs li.ui-tabs-selected {
  background-color: #d5d5d5;
  border-left: 2px solid #000;
  padding-left: 0;
}

ul.sociallinks-tabs li a {
  padding: 5px;
  display: block;
}

div.sociallinks-content {
  padding-right: 0;
  overflow: auto;
  height: 180px;
}
