/* @override http://drupal6/sites/all/modules/custom/sociallinks/sociallinks.css?f */

#sociallinks .ui-tabs-hide {
  display: none;
}

#sociallinks {
  height: 170px;
}

ul.sociallinks-tabs {
  width: 110px;
  background-color: lavender;
  list-style-position: inside;
  float: right;
  clear: both;
  padding: 0;
  margin-left: 0;
  margin-bottom: 0;
  height: 140px;
}

ul.sociallinks-tabs.ui-tabs-nav {
  margin: 0;
}

li.ui-tabs-selected {
  background-color: red;
}

ul.sociallinks-tabs li {
  list-style-image: none;
  list-style-type: none;
  background-image: none;
  margin: 0;
  padding: 0;
}
ul.sociallinks-tabs li a {
  padding: 5px;
  display: block;
}

div.sociallinks-content {
  padding-right: 0;
  overflow: auto;
  height: 180px;
}
